<div id="fb-root"></div>
<div id="react-app">{{{react}}}</div>
<script type="text/javascript">window.__data = {{{state}}};</script>
<script type="text/javascript">window.GLOBAL_CONFIG = {{{GLOBAL_CONFIG}}};</script>
<script src="path/to/app/js/app.js" type="application/javascript"></script> <!--Built with gulp and put in public/app-->
